extends ../layout
block content
	.col-lg-1.col-centered
		h1 Server status 
		h3 #{hostname}
		legend Provisioning reports
		
		table.table.table-striped
			thead
				tr
					th Id
					th Start time
					th End time
					th Status
			tbody
			each r in reports
				tr
					td 
						a(href="/servers/status/events/#{r.hash}")
							=r.hash
					td
						=r['start-time']
					td
						=r['end-time']				
					td 
						=r.status
