<script>

var environmentModel;
var existingEnvironments = {{{toJSON platformData}}}
$(document).ready(function () {
  environmentModel = ko.mapping.fromJS(existingEnvironments)
  ko.applyBindings(environmentModel, document.getElementById('mainView'))
})

</script>
<section class="Main" id="mainView" >
  <div class="Margins" style="min-height: 300px;">
    <div class="Bar Bar--light Bar--header">
      <h5 class="Bar-title Bar-item">Installation</h5>
      <div class="Bar-item Bar-item--right ">
        <a href="/pre-flight"><button type="submit" class="Btn Btn--primary">Next <i class="fa-margin fa fa-angle-right"></i></button></a>
      </div>
    </div>
    <div class="Paper kss-paper" style="margin:0px;" id="mainView">
      <button type="submit" class="Btn Btn--primary" id="start_installation_button">Start Installation</button>

      <table class="Table ">
        <thead>
          <tr class="Table-row">
            <th style="u-left-text" width="5%">#</th>
            <th class="u-left-text" width="25%">Service</th>
            <th class="u-left-text" width="40%">Hostname</th>
            <th class="u-left-text" width="10%">Type</th>
            <th class="u-left-text" width="20%">Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- ko foreach: environmentModel.servers() -->
          <!-- ko foreach: members() -->
          <!-- ko if: operating_system() !== 'openstack' -->
          <!-- ko if: selected() == true -->

          <tr class="Table-bodyrow">
            <td data-bind="text: provisioning_order"></td>
            <td>
              <!-- ko if: operating_system() === 'windows' -->
              <i class="fa fa-windows" aria-hidden="true"></i>
              <!-- /ko -->
              <!-- ko if: operating_system() === 'ubuntu' -->
              <i class="fa fa-linux" aria-hidden="true"></i>
              <!-- /ko -->
              <span data-bind="text: name"></span></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <!-- ko foreach: nodes() -->
            <tr style="background-color:#EDEDE8 !important;">
              <td></td>
              <td></td>
              <td data-bind="text: hostname"></td>
                <td data-bind="text: ec2_type"></td>
                <td>
                <!-- ko if: installation_status().status === 'failed' -->
                <div style="float:right;">
                  <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true" style="color:#d11717;"></i><br/>
                  <span class="Icon Icon--loading Icon--small" style="color: #373333"><span class="Icon-label"></span></span>
                </div>
                <!-- /ko -->
                <!-- ko if: installation_status().status === 'pending' -->
                <div style="float:right;">
                  <span class="Icon Icon--loading Icon--small" style="color: #373333"><span class="Icon-label"></span></span>
                </div>
                <!-- /ko -->
                <!-- ko if: installation_status().status === 'done' -->
                <div style="float:right;">
                  <i class="fa fa-check-circle fa-lg" aria-hidden="true" style="color:#2daa29;"></i>
                </div>
                <!-- /ko -->
                <span data-bind="text:installation_status().message"></span> </td>
              </td>
              </tr>
              <!-- /ko -->


              <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
            </tbody>
          </tbody>
          <tfoot>
          </tfoot>
        </table>


    </div>

  </div>
</section>
