extends ../layout
block content
	.col-lg-1.col-centered
		h1.page-header SSH keys
		p If you use SSH key based authentication to access your servers you should add your private keys now. This step is optional and the installation process works just as well with password based authentication.
		form(action="/keys/new")
			button.btn.btn-default#newKeyButton(type="submit") Add key

			table.table.table-striped
				thead
					tr
						th Title
						th Key
						th Actions
				tbody
					each row in keys
						tr
							td= row.name
							td
								textarea(style="width:100%;")= row.content
							td
								button.btn.btn-danger.btn-xs Remove

		a(href='/wizard/next_step')
			button.btn.btn-default() Continue to the next step
