extends ../layout
block content
	.col-lg-1.col-centered
		h1.page-header Add new SSH key
		form.form-horizontal()
			fieldset
				legend New SSH key
				div.row
					div.form-group
						label.col-lg-2.control-label(for='keyTitle') Title
						div.col-lg-8
							input#keyTitle.form-control(type="text", placeholder="mykey", name="keyTitle")
				div.row
					div.form-group
						label.col-lg-2.control-label(for='keyContent') Content
						div.col-lg-8
							textarea#keyContent.form-control(name="keyContent", rows="15")
							span.help-block Contents of the private key to add


			button.btn.btn-default#newKeyButton(type="submit", onClick="return false;") Add key
