.Head-breadcrumb-action {
  color: #d3d1ce !important;
}

.Head-breadcrumb-action-active {
  color: #d8005b !important;
}

.Bar-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.Bar-item {
  line-height: inherit;
}

.Rounded-box {
  border-radius: 5px;
  background-color: #E3E3E3;
  margin: auto;
  padding: 20px;
  margin-top:10px;
}

.Selected-box {
  background-color: #d8005b;
  color: #fff;
}

.Child-box {
  background-color: #F7F7F5;
  margin-top:5px;
}

.Flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.Flex-item {
  background: #c22042;
  padding: 5px;
  width: 200px;
  height: 60px;
  margin-top: 10px;

  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
