.Head-breadcrumb-action {
	color: #d3d1ce !important;
}

.Head-breadcrumb-action-active {
	color: #d8005b !important;
}

.Bar-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.Bar-item {
	line-height: inherit;
}

.Rounded-box {
	border-radius: 5px;
	background-color: #E3E3E3;
	margin: auto;
    padding: 20px;
	margin-top:10px;
}

.Child-box {
	background-color: #F7F7F5;
	margin-top:5px;
}
