<html>
<head>
  <title>Atomia Installer</title>
  <link rel="stylesheet" href="http://patternlibrary.atomia.com/css/pattern-library.css">
  <link rel="stylesheet" href="http://patternlibrary.atomia.com/css/main.css">
  <link rel="stylesheet" href="css/installer.css">
  <script type="text/javascript" src="js/knockout.js"></script>
  <script type="text/javascript" src="js/knockout.mapping.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/view_models.js" defer="defer"></script>
  <script type="text/javascript" src="js/platform-options.js" defer="defer"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="NavBar NavBar--apps">
        <a class="Logo Logo--nav" href="#"></a>
      </div>
      <div class="NavBar NavBar--sections">
        <ul class="Set Set--sections u-left ">
          <li class="Set-item">
            <span class="Set-label Head-breadcrumb-action-active" href="#">Platform options</span>
          </li>
          <li class="Set-item">
            <span class="Set-label Icon Icon--next Icon--standalone Head-breadcrumb-action"></span>
          </li>
          <li class="Set-item">
            <span class="Set-label Head-breadcrumb-action" href="#">Servers</span>
          </li>
          <li class="Set-item">
            <span class="Set-label Icon Icon--next Icon--standalone Head-breadcrumb-action"></span>
          </li>
          <li class="Set-item">
            <span class="Set-label Head-breadcrumb-action" href="#">Configurations</span>
          </li>
          <li class="Set-item">
            <span class="Set-label Icon Icon--next Icon--standalone Head-breadcrumb-action" ></span>
          </li>
          <li class="Set-item">
            <span class="Set-label Head-breadcrumb-action" href="#">Installation</span>
          </li>
          <li class="Set-item">
            <span class="Set-label Icon Icon--next Icon--standalone Head-breadcrumb-action"></span>
          </li>
          <li class="Set-item">
            <span class="Set-label Head-breadcrumb-action" href="#">Finished</span>
          </li>
        </ul>
      </div>
      <div class="Bar Bar-Neutral" id="currentEnvironmentBar" style="background-color:#e5e3e0;display:none;">
        <h4 class="Bar-title Bar-item" id="currentEnvironmentTitle"></h4>
        <div class="Bar-item Bar-item--right">
              <button class="Btn Btn--secondary ">Change</button>
          </div>
      </div>
    </header>
    {{{body}}}
  </div>
</body>
</html>
