<!doctype html>
<html>
<head>
  <title>Atomia Installer</title>
  <link rel="stylesheet" href="http://patternlibrary.atomia.com/css/pattern-library.css">
  <link rel="stylesheet" href="http://patternlibrary.atomia.com/css/main.css">
  <link rel="stylesheet" href="/css/installer.css">
  <script type="text/javascript" src="/js/knockout.js"></script>
  <script type="text/javascript" src="/js/knockout.mapping.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/view_models.js" defer="defer"></script>
  <script type="text/javascript" src="/js/platform-options.js" defer="defer"></script>
  <script src="https://use.fontawesome.com/6a22df98aa.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="NavBar NavBar--apps">
        <a class="Logo Logo--nav" href="#"></a>
      </div>
      <div class="NavBar NavBar--sections">
        <ul class="Set Set--sections u-left ">
          <li class="Set-item">
            <a class="Set-divider u-brand-color" href="#">Platform options</a>
          </li>
          <li class="Set-item">
            <a class="Set-divider" href="#">Servers</a>
          </li>
          <li class="Set-item">
            <a class="Set-divider" href="#">Configurations</a>
          </li>
          <li class="Set-item">
            <a class="Set-divider" href="#">Installation</a>
          </li>
          <li class="Set-item">
            <a class="Set-divider" href="#">Finished</a>
          </li>
        </ul>
      </div>
      <div class="Bar Bar--light" id="currentEnvironmentBar" style="display:none;">
        <p class="Bar-title Bar-item" id="currentEnvironmentTitle"></p>
        <div class="Bar-item Bar-item--right">
              <button class="Btn Btn--seethrough" id="changeEnvironmentButton">Change</button>
          </div>
      </div>
    </header>
    {{{body}}}
  </div>
</body>
</html>
