<!doctype html>
<html>
<head>
  <title>Atomia Installer</title>
  <link rel="stylesheet" href="http://patternlibrary.atomia.com/css/pattern-library.css">
  <link rel="stylesheet" href="http://patternlibrary.atomia.com/css/main.css">
  <link rel="stylesheet" href="/css/installer.css">
  <script type="text/javascript" src="/js/knockout.js"></script>
  <script type="text/javascript" src="/js/knockout.mapping.js"></script>
  <script type="text/javascript" src="/js/knockout-else.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="/js/view_models.js" defer="defer"></script>
  <script type="text/javascript" src="/js/platform-options.js" defer="defer"></script>
  <script type="text/javascript" src="/js/servers.js" defer="defer"></script>
  <script type="text/javascript" src="/js/puppet-config.js" defer="defer"></script>
  <script type="text/javascript" src="/js/pre-flight.js" defer="defer"></script>
  <script type="text/javascript" src="/js/installation.js" defer="defer"></script>
  <script src="https://use.fontawesome.com/6a22df98aa.js"></script>
</head>
<body class="Body--start">
  {{{body}}}
</body>
</html>
