<section class="Main Main--start">
    <h1>Install your Atomia Platform</h1>
    <p>This installer will install all the servers that are required <br> for running Atomia. You will need to have the servers <br> needed ready and with the OS already installed.</p>
    <a class="Btn Btn--primary" href="/platform-options">Start installation</a>
</section>

<footer class="Footer Footer--start">
    <a class="Logo Logo--nav Logo--alt" href="https://www.atomia.com"></a>

    <a class="Footer-link" href="http://support.atomia.com">Support</a>
    <a class="Footer-link" href="http://learn.atomia.com">Documentation</a>
    <a class="Footer-link" href="#">Requirements</a>
</footer>