tr
	td 47001 
	td WIRNM
	td TCP
	td PuppetMaster						
tr
	td 5985 
	td WIRNM
	td TCP
	td PuppetMaster
tr
	td 5986 
	td WIRNM
	td TCP
	td PuppetMaster	
tr
	td 389 
	td LDAP
	td TCP
	td All servers			
							