tr
	td 24007
	td Gluster Daemon
	td TCP
	td Gluster
tr
	td 24008
	td Gluster Management
	td TCP
	td Gluster
tr
	td 49152-49155
	td Gluster Bricks
	td TCP
	td Gluster
tr
	td 38465-38467
	td Gluster NFS
	td TCP
	td Storage
tr
	td 111
	td Portmapper
	td TCP/UDP
	td Storage
