.panel.panel-primary
	.panel-heading
		h3.panel-title Firewall table (incoming traffic):
	.panel-body				
		table.table.table-striped
			thead
				tr
					th Port
					th Function
					th Protocol
					th Source
			tbody
