tr
	td 38465-38467
	td Gluster NFS
	td TCP/UDP
	td Storage
tr
	td 111
	td Portmapper
	td TCP/UDP
	td Storage
tr
	td 139
	td Samba CIFS
	td TCP
	td Storage
tr
	td 445
	td Samba CIFS
	td TCP
	td Storage
tr
	td 22
	td SSH
	td TCP
	td Access
