doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-overrides.css')
		script(src='/js/jquery-2.1.4.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='https://cdn.socket.io/socket.io-1.2.0.js')
		script(src='/js/knockout.js')
		script(src='/js/atomia.js')
	body
		block menu
			include menu
		block content
