nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header#header
      a#atomia-logo Atomia
    #navbar.navbar-collapse.collapse
      nav#primary-navigation.site-navigation.primary-navigation(role='navigation')
        .menu-top-navigation-container
          ul#menu-top.nav-menu
            li.menu-item-top
              a#top-btn(href='#content') Top
            li.menu-item(typeof='sioc:Page', about='/pages/releases')
              a(href='/pages/releases', property='dc:title')
                | Dashboard
            li.menu-item(typeof='sioc:Page', about='/pages/general')
              a(href='/pages/general', property='dc:title')
                | Documentation
            li.menu-item(typeof='sioc:Page', about='/pages/vps')
              a(href='/pages/vps', property='dc:title') 
                | Monitoring
.container
   .row
     .col-sm-2.col-md-2.sidebar
       .mini-submenu
         span.icon-bar
         span.icon-bar
         span.icon-bar
       .list-group
        span.list-group-item.active(href='#')
         | Installation tasks (25%)
        a.list-group-item(href='#{currentStep.route}')
          |  Next task: #{currentStep.name}
        a.list-group-item(href='/wizard/all_tasks')
          |  List all tasks

        span.list-group-item.active(href='#')
         | Installed servers
        each m in menuStatus
          a.list-group-item(href='/wizard/'+m.url)
           !=m.prettyName
           span(style="float:right;font-size:9px")
            !=m.hostname
