nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header#header
      a#atomia-logo(href="/") Atomia
    #navbar.navbar-collapse.collapse
      nav#primary-navigation.site-navigation.primary-navigation(role='navigation')
        .menu-top-navigation-container
          ul#menu-top.nav-menu
            li.menu-item-top
              a#top-btn(href='#content') Top
            li.menu-item(typeof='sioc:Page', about='/')
              a(href='/', property='dc:title')
                | Dashboard
            li.menu-item(typeof='sioc:Page', about='https://github.com/atomia/puppetmaster-gui/wiki')
              a(href='https://github.com/atomia/puppetmaster-gui/wiki', property='dc:title')
                | Documentation
            li.menu-item(typeof='sioc:Page', about='/wizard/all_task')
              a(href='/wizard/all_tasks', property='dc:title')
                | Tasks
