nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header#header
      a#atomia-logo(href="/") Atomia
    #navbar.navbar-collapse.collapse
      nav#primary-navigation.site-navigation.primary-navigation(role='navigation')
        .menu-top-navigation-container
          ul#menu-top.nav-menu
            li.menu-item-top
              a#top-btn(href='#content') Top
            li.menu-item(typeof='sioc:Page', about='/')
              a(href='/', property='dc:title')
                | Dashboard
            li.menu-item(typeof='sioc:Page', about='https://github.com/atomia/puppetmaster-gui/wiki')
              a(href='https://github.com/atomia/puppetmaster-gui/wiki', property='dc:title')
                | Documentation
            li.menu-item(typeof='sioc:Page', about='/pages/vps')
              a(href='http://#{nagios}', property='dc:title') 
                | Monitoring
.container
   .row
     .col-sm-2.col-md-2.sidebar
       .mini-submenu
         span.icon-bar
         span.icon-bar
         span.icon-bar
       .list-group
        span.list-group-item.active(href='#')
         | Installation tasks
        a.list-group-item(href='#{currentStep.route}')
          |  Current task: #{currentStep.name}
        a.list-group-item(href='/wizard/all_tasks')
          |  List all tasks

        span.list-group-item.active(href='#')
         | Installed roles
        each m in menuStatus
          a.list-group-item(href='/wizard/'+m.url)
           !=m.prettyName
