extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'active_directory_replica'
		include status_modal.jade
		h1.page-header Active Directory replica
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
		if reportStatus != ""
			p 
				a(href="/servers/status/events/#{latestReport.hash}")
					| Latest provisioning run: #{reportStatus}
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			h3 Installation complete!
			p
				button.btn.btn-lg.btn-success(type="submit",onClick="window.location.href = '/wizard/next_step';") Next Step
		p Requires a base installed Windows 2012 R2 server with winrm running for remote management to be available. Besides running the command below make sure that the Windows Remote Firewall rule allows connection from the puppet server, if they are on the same subnet it should be allowed by default.
		pre
			| winrm quickconfig
			| winrm set winrm/config/client/auth @{Basic="true"}
			| winrm set winrm/config/service/auth @{Basic="true"}
			| winrm set winrm/config/service @{AllowUnencrypted="true"}
		
		span Software installed:
			ul
				li Active Directory
				
		span Firewall table (incoming traffic):
		table.table.table-striped
			thead
				tr
					th Port
					th Protocol
					th type
					th Source
			tbody
				include firewall/global.jade
				include firewall/active_directory.jade
		p 
			| Allow complete access between all Active directory servers. Alternatively limit traffic as described at https://msdn.microsoft.com/en-us/library/bb727063.aspx
				
		p
			=reportStatus
		if ( allRolesSimple[myRole] != "installed" )
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
