extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'apache_agent'
		include status_modal.jade
		h1.page-header Apache cluster
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
				
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
								
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body
				p This will install an Atomia compatible Apache cluster

		
		include firewall/header.jade
			include firewall/global.jade
			include firewall/apache_agent.jade
			

		if ( allRolesSimple[myRole] != "installed" )
        
			.panel.panel-primary
				.panel-heading
					h3.panel-title Multiple servers
				.panel-body
					p The cluster can consist of an unlimited number of servers, just add all the server hostnames in the "server hostname" field separated by comma. 
                        
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
		

