extends ../layout
block content
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header Install Atomia DNS
    p Atomia DNS is a multitenant system for handling large amounts of DNS data through programmatic interfaces. Atomia DNS also contains synchronization agents for making sure that this data hits all of your name servers. Agents for PowerDNS (which is our recommended, default DNS server option) and Bind-DLZ are included. 

    if !menuStatus["atomiadns"]
      h2 Add the Atomia DNS server
      p Requires a base installed Ubuntu 14.04 server
      include ../servers/add_server.jade
    else
      | You already have an Atomia DNS server installed. Good job! If you would like to change the configuration you can do so above.

    h2 Configure Atomia DNS
    p For most roles that you add to a server there are some configurable variables that you can change, if a a change is required it will be shown.

    include config_form.jade
    input(type="hidden", id="serverRole", value="atomiadns")

    include ../servers/add_server_status.jade
