extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'atomia_database'
		include status_modal.jade
		h1.page-header Atomia database server
			if allRolesSimple[myRole]
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
		if reportStatus != ""
			p 
				a(href="/servers/status/events/#{latestReport.hash}")
					| Latest provisioning run: #{reportStatus}
		if currentStep.route == path && allRolesSimple[myRole]
			h3 Installation complete!
			p
				button.btn.btn-lg.btn-success(type="submit",onClick="window.location.href = '/wizard/next_step';") Next Step
		p Atomia uses PostgreSQL as a backend datastore for all of it's data. 
		
		span Software installed:
			ul
				li PostgreSQL
				
		span Firewall table (incoming traffic):
		table.table.table-striped
			thead
				tr
					th Port
					th Protocol
					th Source
			tbody
				tr
					td 8140
					td TCP
					td PuppetMaster			
				tr
					td 5666
					td TCP
					td Monitoring server					
		
		p  <i>*Atomia = All servers in the environment</i>	

		if !allRolesSimple[myRole]
			-configureOnly = false
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
