extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'atomiadns_powerdns'
		include status_modal.jade
		h1.page-header PowerDNS nameservers
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
				
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
		else if currentStep.route == path
			include skip_step.jade								
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body
				| The PowerDNS Authoritative Server is the only solution that enables authoritative DNS service from all major databases, including but not limited to MySQL, PostgreSQL, SQLite3, Oracle, Sybase, Microsoft SQL Server, LDAP and plain text files.
				| <br><br>
				| DNS answers can also be fully scripted using a variety of (scripting) languages such as Lua, Java, Perl, Python, Ruby, C and C++. Such scripting can be used for dynamic redirection, (spam) filtering or real time intervention.
				| <br><br>
				| In addition, the PowerDNS Authoritative Server is the leading DNSSEC implementation, hosting the majority of all DNSSEC domains worldwide. The Authoritative Server hosts at least 30% of all domain names in Europe, and around 90% of all DNSSEC domains in Europe.
					
		
		include firewall/header.jade
			include firewall/global.jade
			include firewall/atomiadns_powerdns.jade
			

		if ( allRolesSimple[myRole] != "installed" )
			.panel.panel-primary
						.panel-heading
							h3.panel-title More than 1 nameserver?
						.panel-body
							| You can deploy how many nameservers you want, we recommend at least 2. In order to deploy more than 1 nameserver simply specify all the servers hostnames separated by comma in the "server hostname" box below. 			
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
		