extends ../layout
block content
	.col-lg-1.col-centered
		h1.page-header Basic configuration

		include config_form.jade

		input(type="hidden", id="serverRole", value="basic")
		<br/>
		button.btn.btn-lg.btn-success#saveConfigurationButton(type="submit",onClick="return false;") Save configuration
