extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'daggre'
		include status_modal.jade
		h1.page-header Daggre
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
		if reportStatus != ""
			p 
				a(href="/servers/status/events/#{latestReport.hash}")
					| Latest provisioning run: #{reportStatus}
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			h3 Installation complete!
			p
				button.btn.btn-lg.btn-success(type="submit",onClick="window.location.href = '/wizard/next_step';") Next Step

		.panel.panel-primary
			.panel-heading
				h3.panel-title Daggre?
			.panel-body
				| Daggre is used to analyze statistical data and transform it into aggregateable data such as traffic and storage usage over time.
					

		.panel.panel-primary
			.panel-heading
				h3.panel-title Requirements
			.panel-body
				| You need
				ul
					li A base installed Ubuntu 14.04 server
																	
				
		span Firewall table (incoming traffic):
		table.table.table-striped
			thead
				tr
					th Port
					th Protocol
					th type
					th Source
			tbody
				include firewall/global.jade
				include firewall/daggre.jade
				
		if ( allRolesSimple[myRole] != "installed" )		
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
