extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'daggre'
		include status_modal.jade
		h1.page-header Daggre
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")

		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
		else if currentStep.route == path
			include skip_step.jade
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body
				p  Daggre is used to analyze statistical data and transform it into aggregateable data such as traffic and storage usage over time.


		include firewall/header.jade
			include firewall/global.jade
			include firewall/daggre.jade


		if ( allRolesSimple[myRole] != "installed" )
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade


		input(type="hidden", id="serverRole", value="#{myRole}")
