-extraDoc = "For each of the processes you would like to run add the matching configuration by adding a new process configuration below and type in your configuration. Example configuration for supported registries and registrars can be found at <a href='http://documentation.atomia.com/DomainRegistration/latest/html/configexamples.html#configexamples-examples' target='#'>http://documentation.atomia.com/DomainRegistration/latest/html/configexamples.html#configexamples-examples</a>"

-c = config["domainreg_tld_config_hash"]
label(for='#{c.name}')
  =c.name
&nbsp;<i>(#{c.doc})</i>
p
  | !{extraDoc}

label(for='processList')
  | Process list (All processes to be added, click to edit)
ul#processList
  li#noProcess No processes added yet
.form-group

  label(for='domainreg_tld_config_hash_name')
    | Name (Can be anything)
  input.form-control(id="domainreg_tld_config_hash_name", class="", type="text", value="", name="domainreg_tld_config_hash_name")
  label(for='domainreg_tld_config_hash')
    | Configuration (TLD configuration based on <a href='http://documentation.atomia.com/DomainRegistration/latest/html/configexamples.html#configexamples-examples' target='#'>configuration examples</a>. One process per configuration box!)
  textarea.form-control(id="domainreg_tld_config_hash", class="", name="domainreg_tld_config_hash", rows="20")
  <br>
  button.btn.btn-s.btn-info#addTLD(type="submit",onClick="addTLDProcess();return false;") Save TLD process
  div#tld_processes
  <br>
