extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'domainreg'
		include status_modal.jade
		h1.page-header Atomia Domainreg
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
		if reportStatus != ""
			p 
				a(href="/servers/status/events/#{latestReport.hash}")
					| Latest provisioning run: #{reportStatus}
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			h3 Installation complete!
			p
				button.btn.btn-lg.btn-success(type="submit",onClick="window.location.href = '/wizard/next_step';") Next Step
		p Atomia Domain Registration is a system for registrars that manages the connections to different registrys and handles domain registration and management.
		p Requires a base installed Ubuntu 14.04 server
		
		span Software installed:
			ul
				li Atomia Domainreg
				
		span Firewall table (incoming traffic):
		table.table.table-striped
			thead
				tr
					th Port
					th Protocol
					th type
					th Source
			tbody
				include firewall/global.jade
				include firewall/domainreg.jade
				
		p
			=reportStatus
		if ( allRolesSimple[myRole] != "installed" )
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
