extends ../layout
block content
	.col-lg-1.col-centered

		h1.page-header Installation competed!


		.panel.panel-primary
			.panel-heading
				h3.panel-title All done!
			.panel-body
				| The installation is now completed.



