extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'fsagent'
		include status_modal.jade
		h1.page-header Atomia Filesystem agent
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
				
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
								
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body
				p Atomia File System agent is a light-weight REST service, written in node.js, which exposes methods for managing file system in the Atomia system. It is designed to be simple, fast and most of all, safe. As a consequence, files and folders can be created only on specific, pre-defined, paths and with owner set to the currently authenticated user. 

		
		include firewall/header.jade
			include firewall/global.jade
			include firewall/fsagent.jade
			

		if ( allRolesSimple[myRole] != "installed" )
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
		

