extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'glusterfs'
		include status_modal.jade
		h1.page-header Shared storage - GlusterFS
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
		else if currentStep.route == path
			include skip_step.jade
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title What is GlusterFS?
			.panel-body
				| GlusterFS is a scalable network filesystem. Using common off-the-shelf hardware, you can create large, distributed storage solutions for media streaming, data analysis, and other data- and bandwidth-intensive tasks. GlusterFS is free and open source software.


		.panel.panel-primary
			.panel-heading
				h3.panel-title Not using GlusterFS?
			.panel-body
				| By default Atomia is set up with GlusterFS, however it works fine with just about any other storage system as long as the following requirements are fulfilled:
				ul
					li Can connect to Active Directory
					li Perform idmappings (rfc2307)
					li Can export nfs and cifs (if hosting IIS websites)
				| To proceed with your already existing storage system click the skup button below, otherwise read on...
				p
					button.btn.btn-lg.btn-success(type="submit",onClick="window.location.href = '/wizard/next_step/2';") Skip GlusterFS


		.panel.panel-primary
			.panel-heading
				h3.panel-title Requirements
			.panel-body
				| This installation process will take care of the complete installation of GlusterFS on as many nodes as you like. Before you start, make sure you have the following:
				ul
					li 2 or more base installed Ubuntu 14.04 servers
					li A physical volume available on each server (path configurable but should be the same on all servers)
					li (optional) 2 network cards (make sure DNS points to the network to use for storage traffic or enter the IP address on the storage net below)





		include firewall/header.jade
			include firewall/global.jade
			include firewall/glusterfs.jade

		p
			=reportStatus
		if ( allRolesSimple[myRole] != "installed" )
			.panel.panel-primary
				.panel-heading
					h3.panel-title Important!
				.panel-body
					| The server hostname should be the hostname for the first node (master) in your storage cluster

			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade


		input(type="hidden", id="serverRole", value="#{myRole}")

