extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'haproxy'
		include status_modal.jade
		h1.page-header Haproxy
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")

		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
		else if currentStep.route == path
			include skip_step.jade
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body
				p HAProxy is a free, very fast and reliable solution offering high availability, load balancing, and proxying for TCP and HTTP-based applications. It is particularly suited for very high traffic web sites and powers quite a number of the world's most visited ones. Over the years it has become the de-facto standard opensource load balancer, is now shipped with most mainstream Linux distributions, and is often deployed by default in cloud platforms.


		include firewall/header.jade
			include firewall/global.jade
			include firewall/haproxy.jade


		if ( allRolesSimple[myRole] != "installed" )
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade


		input(type="hidden", id="serverRole", value="#{myRole}")

