extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'installatron'
		include status_modal.jade
		h1.page-header Installatron
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
				
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
		else if currentStep.route == path
			include skip_step.jade								
		if reportStatus
			include latest_puppet_run.jade

		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body
				p Installatron Server is an API and optional GUI that enables the Installatron web application automation platform to be incorporated into existing web hosting infrastructure. With over 11 years of testing and improvements as its foundation, deploying Installatron Server bypasses expensive development costs and gives website owners access to the best solution on the market. Installatron Server can be self-hosted or hosted as a service on Installatron.com.
					

		
		include firewall/header.jade
			include firewall/global.jade
			include firewall/installatron.jade
			

		if ( allRolesSimple[myRole] != "installed" )
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
		
