h3 Installation is complete!
p
	| It looks like your server is installed sucessfully. Please verify that you can run the provisioning step without errors before proceeding
	button.btn.btn-lg.btn-success(type="submit",onClick="window.location.href = '/wizard/next_step';") Next Step