extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'internaldns'
		include status_modal.jade
		h1.page-header Internal DNS server
			if allRolesSimple[myRole]  && reportStatus == "successful"
				img(src="/img/icon_success_pink.png",style="float:right;width:64px;",alt="Installed!")
				
		if currentStep.route == path && allRolesSimple[myRole]  && reportStatus == "successful"
			include installation_complete.jade
								
		if reportStatus
			include latest_puppet_run.jade
		
		.panel.panel-primary
			.panel-heading
				h3.panel-title Information
			.panel-body		
				p The internal dns server is used to hold dns records used within the Atomia environment. 

		include firewall/header.jade
			include firewall/global.jade
			include firewall/internaldns.jade
						
		p  <i>*Atomia = All servers in the environment</i>	

		if !allRolesSimple[myRole]
			include ../servers/add_server.jade
			-displayConfigure = "none"
			include ../servers/configure_server.jade
		else
			-configureOnly = true
			-displayConfigure = "block"
			include ../servers/configure_server.jade
			include ../servers/add_server.jade
		
		
		input(type="hidden", id="serverRole", value="#{myRole}")
