extends ../layout
block content
	.col-lg-1.col-centered
		-myRole = 'puppet'
		include status_modal.jade
		h1.page-header Install the Puppetmaster
		p The Puppetmaster is the server that controls deployments and updates of your complete environment. It is developed by Puppetlabs and more information about how it works is available at <a href="https://puppetlabs.com/">their webpage</a>. Luckily for you this installation process takes care of the complete setup for you, so you do not need to worry about how it works under the hood (unless you want to of course!).

		p We are assuming that you want to install the Puppetmaster on the same server as this installation application is running on. Simply click the big green button below and we will take care of the installation for you! We will notify you when we are done with the setup.

		button.btn.btn-lg.btn-success#installPuppet(type="submit",onClick="return false;") Start Provisioning

		if allRolesSimple[myRole]
			h2 Puppet is installed
			p Proceed with the <a href="/keys">next task</a>!


