
button.btn.btn-lg.btn-success(data-toggle="tooltip", data-placement="top", title="Skipping a step might result in a non working installation and is generally not recommended!" type="submit",onClick="window.location.href = '/wizard/next_step';") Skip this step
<br/><br/>
