script(src='/js/status_modal.js')


button.btn.btn-default(type='button', data-toggle="modal", data-target="#status_modal") Open modal
.modal.fade#status_modal(role="dialog",tabindex="-1")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title Running commands on the server - Please wait
			.modal-body
				div.alert.alert-danger
					button.close(type="button")
					span#alert-content
						strong Fooooo!
				p The command you triggered requires some actions to be performed on the server, you can monitor the progress below. Please allow the actions to finish before proceeding.
				p
					pre.pre-scrollable#serverConsole(data-bind="text: serverConsole")


			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
