script(src='/js/status_modal.js')
.modal.fade#status_modal(role="dialog",tabindex="-1")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h4.modal-title Running commands on the server - Please wait
			.modal-body
				p The command you triggered requires some actions to be performed on the server, you can monitor the progress below. Please allow the actions to finish before proceeding.
				p
					pre.pre-scrollable#serverConsole(data-bind="html: serverConsole")
					div.alert.alert-danger(style="display:none;")
						span
							strong#alert-content
					div.alert.alert-success(style="display:none;")
						span
							strong#ok-content
			.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
