extends ../layout
block content
	.col-lg-1.col-centered
		include status_modal.jade
		h1.page-header Configure Atomia applications

		p On this page we define some basic configuration options that is common for all Atomia Applications.

		include config_form.jade

		p
			legend Manage internal certificates
			p All Atomia applications use SSL certificates to ensure that the traffic that flows between them are secure. The required certificates can be generated automatically.
			p You do not have any certificates generated, please generate some by pressing the button below
			button.btn.btn-lg.btn-default#generateCertificatesButton(type="submit",onClick="return false;") Generate new certificates
		p
			legend Done configuring?
			p 
				| When you are done with the configuration on this page press the save button below to save your configuration and proceed to the next installation step
			p 
				button.btn.btn-lg.btn-primary#saveConfigurationButton(type="submit",onClick="return false;") Save configuration
